.row {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -2rem;
}

    .row > * {
        padding: 0 0 0 2rem;
    }

    .row > .\31 u {
        width: 8.33333%;
    }

    .row > .\-1u {
        margin-left: 8.33333%;
    }

    .row > .\32 u {
        width: 16.66667%;
    }

    .row > .\-2u {
        margin-left: 16.66667%;
    }

    .row > .\33 u {
        width: 25%;
    }

    .row > .\-3u {
        margin-left: 25%;
    }

    .row > .\34 u {
        width: 33.33333%;
    }

    .row > .\-4u {
        margin-left: 33.33333%;
    }

    .row > .\35 u {
        width: 41.66667%;
    }

    .row > .\-5u {
        margin-left: 41.66667%;
    }

    .row > .\36 u {
        width: 50%;
    }

    .row > .\-6u {
        margin-left: 50%;
    }

    .row > .\37 u {
        width: 58.33333%;
    }

    .row > .\-7u {
        margin-left: 58.33333%;
    }

    .row > .\38 u {
        width: 66.66667%;
    }

    .row > .\-8u {
        margin-left: 66.66667%;
    }

    .row > .\39 u {
        width: 75%;
    }

    .row > .\-9u {
        margin-left: 75%;
    }

    .row > .\31 0u {
        width: 83.33333%;
    }

    .row > .\-10u {
        margin-left: 83.33333%;
    }

    .row > .\31 1u {
        width: 91.66667%;
    }

    .row > .\-11u {
        margin-left: 91.66667%;
    }

    .row > .\31 2u {
        width: 100%;
    }
